[Desktop Entry]
Type=Application
Name=Quick PDF Join
Comment=Simple application that joins multiple PDF files together
Categories=Utility;
Keywords=PDF;PDF join;PDF merge;
Icon=io.github.mihnea_radulescu.quickpdfjoin
Exec=QuickPdfJoin
Terminal=false
